# IntelliJ user-specific stuff
.idea/
*.iml

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
build/

# Gradle Patch
**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

out/